.homemain {
    line-height: 15px;
    background-color: transparent;
    height: 500px;
    max-width: 100%;
    float: left;
    padding: 10px;
    font-size: 100%;
    margin: 10px;
    word-wrap: break-word;
}

.centered {
    background-color: cornsilk;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    position: absolute;
    left: 50%;
    top: 140%;
    transform: translate(-50%, -50%);
    background-color: #cd0f0f; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
  }

  h1 {
	font-family: 'Kaushan Script', cursive;
	font-size: 150px;
	margin-bottom: 30px;
    text-align: center;
    color: purple;
    font-style: bold;
}